body{
	color: #202020;
}

body, button, textarea, input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
button, textarea, input {
    border: none;
    outline: none;
    box-sizing: border-box;
}
button {
    cursor: pointer;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.vacansies{
	margin-top: 60px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
}

.vacansies__card{
	width: calc(25% - 23px);
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
	margin-right: 20px;
	margin-bottom: 30px;
}

.vacansies__card_photo-img, .vacansies__card_photo{
	width: 100%;
	max-height: 220px; 
}

.vacansies__card_desc{
	padding: 25px 15px;
}

.vacansies__card_desc-title{
	font-size: 18px;
	line-height: 23px;
	padding-left: 10px;
	margin-bottom: 15px;
	min-height: 50px;
	max-height: 60px;
}

.vacansies__card_desc-title:after{
	top: 0;
	left: 0;
	height: 50%;
	width: 4px;
}

.vacansies__card_desc-subtitle{
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	margin-bottom: 30px;
	min-height: 70px;
	max-height: 75px;
}

.card__desc_bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__desc_bottom-date{
	font-size: 12px;
	font-weight: 300;
}

.card__desc_bottom-more{
	font-size: 14px;
	padding: 10px 30px;
	color: #006CAE;
	border: 2px solid #006CAE;
	border-radius: 10px;
	background: transparent;
}

.card__desc_bottom-more:hover{
	background: #006CAE;
	color: white;
}

@media screen and (max-width: 1050px){

	.card__desc_bottom-more {
	    font-size: 13px;
	    padding: 9px 17px;
	}

	.vacansies__card_desc-title {
	    font-size: 15px;
	    line-height: 20px;
	    min-height: 42px;
	    max-height: 52px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 12px;
	    line-height: 16px;
	}

}

@media screen and (max-width: 950px){

	.card__desc_bottom-more {
	    font-size: 12px;
	    padding: 6px 14px;
	}

	.card__desc_bottom-date {
	    font-size: 10px;
	}

	.vacansies__card_desc-title {
	    font-size: 14px;
	    line-height: 18px;
	    min-height: 35px;
	    max-height: 45px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 11px;
	    line-height: 14px;
	}

}

@media screen and (max-width: 850px){

	.vacansies__card_desc-title {
	    font-size: 12px;
	    line-height: 15px;
	    min-height: 30px;
	    max-height: 40px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 10px;
	    line-height: 13px;
	}

	.card__desc_bottom-more {
	    font-size: 11px;
	    padding: 5px 11px;
	}

	.card__desc_bottom-date {
	    font-size: 9px;
	}

}

@media screen and (max-width: 800px){

	.vacansies__card {
	    width: calc(33% - 23px);
	}

	.vacansies__card_desc-title {
	    font-size: 13px;
	    line-height: 16px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 11px;
	    line-height: 14px;
	}

	.card__desc_bottom-more {
	    font-size: 12px;
	    padding: 7px 15px;
	}

	.card__desc_bottom-date {
	    font-size: 10px;
	}

}

@media screen and (max-width: 650px){

	.vacansies__card {
	    width: calc(50% - 23px);
	}

	.vacansies__card_desc-title {
	    font-size: 15px;
	    line-height: 18px;
		min-height: 33px;
		max-height: 43px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 13px;
	    line-height: 16px;
	}

	.card__desc_bottom-more {
	    font-size: 13px;
	    padding: 9px 19px;
	}

	.card__desc_bottom-date {
	    font-size: 11px;
	}



}

@media screen and (max-width: 500px){

	.vacansies__card_desc-title {
	    font-size: 13px;
	    line-height: 16px;
	    min-height: 30px;
	    max-height: 40px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 11px;
	    line-height: 14px;
	}

	.card__desc_bottom-more {
	    font-size: 12px;
	    padding: 7px 15px;
	}

	.card__desc_bottom-date {
	    font-size: 10px;
	}

	.vacansies__card {
	    width: calc(100% - 23px);
	}

	.page__desc h1{
		font-size: 36px;
        line-height: 46px;
	}

	.page__desc h1:after {
		height: 100%;
		top: 0;
	}

	.page__sub-title {
	    font-size: 29px;
	    line-height: 34px;
	}

	.vacansies__card_desc-title {
	    font-size: 16px;
	    line-height: 20px;
	    min-height: 34px;
	    max-height: 44px;
	}

	.vacansies__card_desc-subtitle {
	    font-size: 13px;
	    line-height: 17px;
	}

	.card__desc_bottom-more {
	    font-size: 15px;
	    padding: 9px 20px;
	}

	.card__desc_bottom-date {
	    font-size: 12px;
	}

}